.movies-cardlist {
	margin: 0 auto;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
	background: #202020;
}

.movies-cardlist__section {
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	padding: 70px 70px;

	display: flex;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
}

.cards__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 32px 28px;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.cards__not-found {
	align-self: center;
	justify-self: center;
	margin: auto;
}


.more {
	margin: 0;
	padding-top: 50px;
	display: flex;
	flex-direction: column;
	justify-self: center;
}

.more__button {
	width: 320px;
	height: 36px;
	border: 1px solid #424242;
	border-radius: 6px;
	background-color: #202020;
	align-self: center;
	transition: 0.3s ease;
	padding: 0;

	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;

	color: #FFFFFF;
}

.more__button:hover {
	background-color: #2BE080;
	cursor: pointer;
	opacity: 0.8;
}

@media screen and (max-width: 900px) {
	.movies-cardlist__section {
		padding: 70px 30px 0;
	}

	.cards__list {
		grid-gap: 35px 24px;
		grid-template-columns: repeat(2, 1fr);
	}

	.more {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media screen and (max-width: 637px) {
	.movies-cardlist__section {
		padding: 40px 10px 0;
	}

	.cards__list {
		grid-template-columns: repeat(1, 300px);
		grid-gap: 39px 0;
	}

	.more__button {
		width: 240px;
		height: 36px;
	}
}