.header {
    width: 100%;
    height: 74px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #073042;
}

.header_loggedIn {
    background: #202020;
}

.header__section {
    margin: 0 auto;
    padding: 18px 70px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    border: none;
}

.header__section_loggedIn {
    margin: 0 auto;
    padding: 18px 70px;
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    width: 38px;
    height: 38px;
}

.header__nav {
    margin-left: auto;

    flex-direction: row;
    align-items: center;
    display: flex;
    align-self: flex-end;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

.header__nav_loggedIn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.header__link {
    margin: auto 0;
    margin-right: 30px;

    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    transition: 0.3s ease;
    opacity: 1;
    text-decoration: none;
}

.header__link:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__link_loggedIn {
    text-decoration: none;
    margin-right: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    text-align: right;
    color: #FFFFFF;
}

.header__link_loggedIn:last-of-type {
    margin: 0;
}

.header__link_logged:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__link_active {
    font-weight: 500;
}


.header__button {
    margin: auto 0;
    padding: 8px 20px;
    background-color: #2be080;
    border-radius: 3px;
    transition: 0.3s ease;
    opacity: 1;
    border: none;
}

.header__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__button_link {
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    color: #000;
    text-decoration: none;
}

.header__link_profile {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: left;
    color: #000;
}

.header__link_profile_image-box {
    height: 26px;
    width: 26px;
    margin: auto 0;
    padding: 0;
    border: none;
    display: flex;

    background: #313131;
    border-radius: 50px;
}

.header__link_profile_image {
    height: 13px;
    width: 13px;
    margin: auto;
    background-color: transparent;
}

.header__link_profile:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header__link_profile_title {
    text-align: left;
    margin-right: 7px;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    /* or 92% */


    color: #FFFFFF;
}

.burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    width: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #202020;
    color: #FFFFFF;
    transition: width 250ms ease;
}

._opened {
    width: 66%;
}

.burger__close-button {
    width: 22px;
    border: none;
    background-color: transparent;
    margin: 23px 23px 0 auto;
    cursor: pointer;
}

.burger__close-button:hover {
    opacity: 0.8;
}

.burger__overlay {
    height: 100vh;
    padding: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: width 250ms ease;
}

._showed {
    width: 100%;
}

.header__button-burger {
    width: 44px;
    height: 44px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


.burger-menu__links {
    display: flex;
    flex-direction: column;
    margin: 100px auto auto;
    align-items: center;
    list-style-type: none;
    padding: 0;
    text-decoration: none;
    text-align: center;
}

.burger-menu__link {
    margin-bottom: 28px;
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.burger-menu__link_active {
    padding-bottom: 4px;
    border-bottom: 2px solid #FFFFFF;
}

.burger-menu__link_profile {
    margin: 200px auto 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    text-decoration: none;

    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    /* or 92% */

    color: #FFFFFF;
}

.burger-menu__link_profile_image {
    margin: auto;
    background-color: transparent;
}

.burger-menu__link_profile_title {
    margin-right: 7px;
}


@media screen and (max-width: 768px) {
    .header__section {
        padding: 18px 30px;
        border: none;
        box-shadow: none;
    }

    .header__section_loggedIn {
        margin: 0 auto;
        padding: 18px 30px;
        width: 100%;
        max-width: 1280px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (max-width: 450px) {
    ._opened {
        width: 100%;
        height: 100%;
    }

    .header__section {
        min-width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .header__section {
        padding: 29px 15px;
    }

    .header__section_loggedIn {
        padding: 29px 15px;
    }

    .header__button {
        width: 54px;
        height: 26px;
        font-size: 10px;
        padding: 4px 10px;
    }

    .header__link {
        font-size: 10px;
        line-height: 16px;
    }
}