.login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #202020;
}

.login__block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
    width: 100%;
    margin-top: 70px;
}

.login__heading {
    margin: 40px 0 40px;
    padding: 0;
    box-sizing: border-box;

    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    /* identical to box height */

    color: #FFFFFF;
}

.login__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 396px;
}

.login__input {
    margin: 24px 0 5px;

    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;

    color: #8B8B8B;
}

.login__input:last-of-type {
    margin: 0 0 5px;
}

.login__field_password {
    color: #EE3465;
}

.login__field {
    width: 100%;
    border: none;
    outline: none;
    padding: 0;
    padding-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    box-sizing: border-box;
    /* identical to box height */

    color: #FFFFFF;

    background: #202020;
    border-bottom: 1px solid #424242;
}

.login__form_button {
    width: 100%;
    max-width: 396px;
    height: 45px;

    margin: 221px 0 16px;
    padding: 15px;
    align-items: center;
    border: none;
    box-sizing: border-box;
    background: #4285F4;
    border-radius: 3px;

    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;
}

.login__form_button:hover {
    opacity: 0.8;
    cursor: pointer;
}

.login__form_button_disabled {
    pointer-events: none;
    cursor: default;
    color: #C2C2C2;
    background-color: #F8F8F8;
}

.login__signin {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 70px;
}

.login__link_title {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #a0a0a0;
    margin: 0 6px 0 0;
}

.login__login_link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    text-align: center;

    color: #4285F4;
    text-decoration: none;
}

.login__login_link:hover {
    opacity: 0.8;
}

.login__input_error {
    display: block;
    margin-top: 6px;
    min-height: 12px;
    pointer-events: none;

    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
}

.login__message {
    margin-bottom: 10px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height, or 138% */

    color: #EE3465;
}

@media screen and (max-width: 768px) {
    .login__block {
        margin-top: 232px;
    }

    .login__form_button {
        margin-top: 134px;
    }

    .login__signin {
        margin-bottom: 232px;
    }
}

@media screen and (max-width: 430px) {
    .login__block {
        margin-top: 56px;
    }

    .login__heading {
        margin: 50px auto 80px;
    }

    .login__form {
        max-width: 260px;
    }

    .login__form_button {
        margin: 267px 0 14px;
    }

    .login__link_title {
        margin: 0 7px 0 0;
        font-size: 12px;
        line-height: 15px;
    }

    .login__login_link {
        font-size: 12px;
        line-height: 15px;
    }

    .login__block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }

    .logo__center {
        margin: 0 auto;
        align-self: center;
        width: 38px;
        height: 38px;
    }

    .login__signin {
        margin-bottom: 30px;
    }
}